@font-face {
    font-family: rubik;
    src: url(./Rubik-Regular.ttf) format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: rubik;
    font-size: 115%;
    background-color: rgba(188, 144, 78, 0.982);
}

header {
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    border-bottom: 1px solid seashell;
    background-color: black;
    opacity: 0.8;
}

a {
    padding: 23px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    background-color: black;

}

a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 120%;
    transition: background-color 0.75s ease-in-out, color 0.5s ease, font-size 0.5s ease;
}

a:active {
    background-color: rgba(255, 255, 255, 0.294);
    color: rgba(0, 0, 0, 0.447);
    font-size: 120%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease, font-size 0.3s ease;
}

nav {
    display: flex;
    height: 100%;
}

nav img {
    height: 50px;
    margin: 10px 20px;
}

ul {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

ul li {
    padding-left: 4px;
    list-style-type: none;


}

main {
    position: relative;
    top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

main div {
    margin-bottom: 20px;
}

.container0 {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    padding-bottom: 20px;
    border-bottom: 25px solid black;
    opacity: 1;

}

.container0::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/michal-parzuchowski-ItaV89TNkks-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.65;
    z-index: -1;
}

.text {
    position: relative;
    
    color: rgb(0, 0, 0);
    font-size: 450%;
    padding: 100px;
    padding-left: 50px;

}

.text h4 {
    font-size: 70%;
    margin-top: 0px;
}

.text h2 {

    margin-bottom: 0px;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;

}

.container1 h2 {
    font-size: 40px;
    margin-bottom: 0px;

}

.container2 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container3 {
    
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
    opacity: 1;
}
.container3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/img-locations-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.70;
    z-index: -1;
}

.container3 h2 {
    font-size: 50px;
    margin: 10px;
    padding-bottom: 50px;
    color: white;
}

.image {
    text-align: center;
}

.image img {
    height: 200px;
    width: 300px;
}

.container4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    gap: 10px;
}


.location {
    background-color: black;
    width: 300px;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


div.location {

    min-width: 10%;
    min-height: 10%;
    transition: transform 0.1s ease-in-out;
}

div.location:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 120%;
    transition: 0.60s ease-in-out, color 0.60s ease, font-size 0.5s ease;
    transform: scale(1.1);
}

footer {
    text-align: center;
    margin-top: 70px;

}