@font-face {
    font-family: rubik;
    src: url(./Rubik-Regular.ttf) format('truetype');
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: rubik;
    font-size: 115%;
}

header {
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    border-bottom: 1px solid seashell;
    background-color: black;
}

a {
    padding: 23px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    background-color: black;
    
}
a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 120%;
    transition: background-color 0.75s ease-in-out, color 0.5s ease, font-size 0.5s ease;
}
a:active{
    background-color: rgba(255, 255, 255, 0.294);
    color: rgba(0, 0, 0, 0.447);
    font-size: 120%;
    transition: background-color 0.3s ease-in-out,color 0.3s ease, font-size 0.3s ease ;
}

nav {
    display: flex;
    height: 100%;
}

nav img {
    height: 50px;
    margin: 10px 20px;
}

ul {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

ul li {
    padding-left: 4px;
    list-style-type: none;

    
}

main {
    position: relative;
    top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

main div {
    margin-bottom: 20px;
}

.container0 {
    position: relative;
    background-image: url(./images/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.container0::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.text {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 300%;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container2 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container3 {
    background-image: url(./images/img-locations-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
}

.image {
    text-align: center;
}

.image img {
    height: 200px;
    width: 300px;
}

.container4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    gap: 10px;
}


.location {
    background-color: black;
    width: 300px;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 div.location{
    
    min-width: 10%;
    min-height: 10%;
    transition: transform   0.2s ease-in-out;
}
div.location:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 120%;
    transition: 0.75s ease-in-out, color 0.75s ease, font-size 0.5s ease;
    transform: scale(1.1);
}
footer{
    text-align: center ;
    margin-top: 10px;
    
}

