@font-face {
    font-family: rubik;
    src: url(./Rubik-Regular.ttf) format('truetype');
}

/* General Reset and Root Elements */
html {
    scroll-behavior: smooth;
}
body {
    font-family: rubik, sans-serif;
    font-size: 115%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(188, 144, 78, 0.982);
}

/* Header Styles */
header {
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: black;
    opacity: 0.8;
    border-bottom: 4px solid seashell;
}

nav {
    display: flex;
    height: 100%;
}
nav img {
    height: 50px;
    margin: 10px 20px;
}
ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    width: 100%;
}
ul li {
    list-style: none;
    padding-left: 4px;
}
li a {
    color: white;
    background-color: black;
    padding: 23px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    height: 100%;
    width: 100%;
}
a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 120%;
    transition: background-color 0.75s ease-in-out, color 0.5s ease, font-size 0.5s ease;
}
a:active {
    background-color: rgba(255, 255, 255, 0.294);
    color: rgba(0, 0, 0, 0.447);
    font-size: 120%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease, font-size 0.3s ease;
}

/* Media Queries */
@media screen and (max-width: 650px){
    ul a {
        padding: 23px 10px ;
    }
    ul{
        padding: 5px;
        padding-right: 0px;
        margin-right: 0px;
    }
}

/* Main Content Styles */

main {
    position: relative;
    top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
main div {
    margin-bottom: 20px;
}

.container0 {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    padding-bottom: 100px;
    margin-bottom: 0px;
    opacity: 1;

}
.container0::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/michal-parzuchowski-ItaV89TNkks-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.65;
    z-index: -1;
}

.text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 450%;
    padding: 0px 100px;
    width: auto;
}

.text h4 {
    font-size: 70%;
    margin-top: 0px;
    width: 100%;
}
.text h2 {
    margin-bottom: 0px;
    margin-top: 50px;
}

.qualities{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.qualities h4{
    white-space: nowrap;
    margin: 10px;
    font-size: 65%;
}

/*Media Queries */

@media screen and (max-width: 600px){
    .text {
       padding: 30px;
       font-size: 240%;
    }
    .text h2 {
        white-space: nowrap;

    }
    .qualities{
        flex-direction: column;
       justify-content: center;
        align-items: center;
    }   
}
@media screen and (max-width: 860px), ( min-width:600px){
    .text {
       padding: 60px;
       font-size: 300%;
    }
    .text h2 {
        white-space: nowrap;
    }
     .qualities{
         flex-direction: column;
        justify-content: center;
         align-items: center;
     }
}
@media screen and (max-width: 1250px) , (min-width:800px){
    .text {
       padding: 75px;
       font-size: 375%;
    }
    .text h2 {
        white-space: nowrap;
    }
    .qualities{
        flex-direction: column;
       justify-content: center;
        align-items: center;   
    } 
}

.menu  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.menu .special{
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    padding: 23px;
    width:100%;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: black;
}
.menu .special:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

.container1 {
    text-align: center;
    padding: 10px 50px 40px 50px;
}
.container1 h2 {
    font-size: 40px;
    margin-bottom: 0px;
}

.container2 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px; 
}

.container3 {  
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
    opacity: 1;
}
.container3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/img-locations-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.70;
    z-index: -1;
}
.container3 h2 {
    font-size: 50px;
    margin: 10px;
    padding-bottom: 50px;
    color: white;
}

.image {
    text-align: center;
}
.image img {
    height: 200px;
    width: 300px;
}

.container4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    gap: 25px;
}

.location {
    background-color: black;
    width: 300px;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.location {

    min-width: 10%;
    min-height: 10%;
    transition: transform 0.1s ease-in-out;
}
div.location:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 120%;
    transition: 0.60s ease-in-out, color 0.60s ease, font-size 0.5s ease;
    transform: scale(1.1);
}

footer {
    text-align: center;
    margin-top: 70px;
}